* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

img {
  width: 300px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}